body {
	background-color: #10f871;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #333;
	width: 90%;
	max-width: 900px;
	min-height: 500px;
	margin: 100px auto;
	padding: 20px;
	border: 1px solid #10f871;
	border-radius: 8px;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}